html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
menu,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body,
#app {
  height: 100%;
  font-family: var(--font-family);
}

h1,
h2,
h3,
h4 {
  font-weight: 300;
}

menu,
ol,
ul {
  list-style: none;
}

:root {
  --color-gray-0: #eaeaea;
  --color-gray-1: #acabab;
  --color-gray-2: #909090;
  --color-gray-3: #606060;
  --color-gray-4: #444343;
  --color-green-0: rgb(133, 197, 117);
  --color-green-1: rgba(30, 115, 7, 0.66);
  --color-green-2: #1a6207;
  --color-red-0: #fff1f1;
  --color-red-1: rgba(255, 0, 0, 0.66);
  --color-red-2: red;
  --color-red-3: #d00000;
  --color-magenta-1: #b243c5;
  --color-link: #147c98;
  --color-link-hover: #279b91;
  --color-side-list: rgb(248, 254, 255);
  --color-side-list-hover: #0fc8e714;
  --theme-green-color-1: rgb(237, 248, 239);
  --theme-green-color-2: rgb(219, 241, 223);
  --theme-green-color-3: rgb(210, 238, 215);
  --theme-green-color-4: rgb(77, 187, 95);
  --theme-orange-color-1: rgb(255, 238, 185);
  --theme-orange-color-2: rgb(252, 231, 167);
  --theme-orange-color-3: rgb(253, 228, 153);
  --theme-orange-color-4: rgb(213, 128, 0);
  --theme-red-color-1: rgb(255, 219, 206);
  --theme-red-color-2: rgb(253, 202, 181);
  --theme-red-color-3: rgb(253, 193, 167);
  --theme-red-color-4: rgb(213, 32, 0);
  --font-family: Inter, Helvetica, monospace;
  --header-default-height: 2.8rem;
  --breadcrumbs-height: 3.6rem;
  --sidebar-width: 4rem;
}

#app {
  box-sizing: border-box;
}

.app-content__main {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.w-tooltip {
  font-size: 0.8rem;
}

.height-a {
  height: 2.2rem;
}

.icon-size-a {
  font-size: 1rem;
}

.icon-size-b {
  font-size: 1.2rem;
}

.color-ok {
  color: var(--color-green-1);
}

.color-cancel {
  color: var(--color-red-1);
}

a.link__default {
  color: var(--color-link);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 300;
}

a.link__default:hover,
a.link__default:active {
  color: var(--color-link-hover);
}

input {
  font-weight: 300;
}

.hy-scrollable {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: rgba(15, 200, 231, 0.3) rgba(255, 255, 255, 0);
}

.hy-scrollable::-webkit-scrollbar {
  width: 0.1em;
  display: block;
}

.hy-scrollable::-webkit-scrollbar-thumb {
  background-color: rgba(15, 200, 231, 0.3);
  border-radius: 0.2rem;
}
